<div class="file-upload-container">
  <h2>Завантажувач</h2>

  <form (ngSubmit)="onSubmit()">
    <label for="token">Введіть значення Token: </label>
    <input type="text" id="token" [(ngModel)]="token" name="token" placeholder="Введіть значення" required><br><br>

    <label for="inputValue">Введіть значення ID: </label>
    <input type="text" id="inputValue" [(ngModel)]="inputValue" name="inputValue" placeholder="Введіть значення" required><br><br>

    <label for="fileUpload">Завантажте файл: </label>
    <input type="file" id="fileUpload" (change)="onFileSelected($event)" name="fileUpload" required><br><br>

    <button type="submit">Надіслати</button>
  </form>

  <div *ngIf="progress > 0">
    <p>Прогрес завантаження: {{ progress }}%</p>
    <progress [value]="progress" max="100"></progress>
  </div>

  <p>{{result}}</p>
</div>
